/*Contacto*/

.form-register {
    width: 400px;
    background: linear-gradient(180deg, #60af31 0%, #1ecc61 100%);
    padding: 30px;
    margin: 100px auto;
    text-align: center;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
    h5 {
        font-size: 22px;
        margin-bottom: 20px;
    }
    p {
        height: 40px;
        text-align: center;
        font-size: 15px;
        line-height: 40px;
    }
    a {
        color: white;
        text-decoration: none;
    }
    &:hover {
        color: white;
        text-decoration: underline;
    }
    .botons {
        width: 100%;
        background: linear-gradient(180deg, #3e5545 0%, #25bd8a 100%);
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 16px;
        text-align: center;
    }
    .controls {
        width: 100%;
        background: #ade1e7;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #137b83;
        font-size: 18px;
    }
    @media screen and (max-width:960px) {
        width: auto;
        height: auto;
    }
    @media screen and (max-width:700px) {
        width: auto;
        height: auto;
    }
    @media screen and (max-width:500px) {
        width: auto;
        height: auto;
    }
    @media screen and (max-width: 300px) {
        width: 220px;
        margin: 4%;
    }
    h5 {
        font-size: 20px;
    }
    p {
        font-size: 10px;
    }
    .copy-section {
        font-size: 15px;
    }
    .subtitle {
        font-size: 25px;
    }
}